@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    font-family: 'Quicksand', sans-serif;
}

.container {
    background-color: #fff;
    margin: 50px auto;
    padding: 40px;
    text-align: center;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    flex-wrap: wrap;
}

input {
    border: none;
    padding: 8px;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}

button {
    background-color: #17a589;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #82e0aa;
}

.mylist {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}